@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mon tserrat+Alternates:wght@100&display=swap');

:root {
  --color: #000;
  --background-color-start: #efe;
  --background-color-end: #fff;

  --background-color-nav: #c0c0c0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --background-color-start: #232323;
    --background-color-end: #1c1c1c;

    --background-color-nav: #2c2c2c;

  }
}

body {
  color: var(--color);
  background: linear-gradient(to bottom,
      var(--background-color-start), var(--background-color-end));

  font-family: 'Montserrat Alternates', sans-serif !important; 
}